@media all and (max-width: 479px) {
/*  .page-wrap {
  	padding: 0;
  }
  
  header {
  	padding: 10px;
  }
  
  .content-wrapper {
  	padding: 10px;
  }
  
  .col:nth-child(odd) {
  	margin: 0px;
  }*/
}

@media all and (max-width: 959px) {
	.page-wrap {
		padding: 0;
	}
	
	header {
		padding: 20px 10px;
	}
	
	.content-wrapper {
		padding: 0 10px;
	}
	
	.col:nth-child(odd) {
		margin: 0px ;
	}
}
